body, h1, h2, ul, li, p, div{
    margin: 0;
    padding: 0;
}
.wrapper {
    font-family: 'Arvo', serif;
}
.centrare {
    width: 1100px;
    margin: 0 auto;
}
.flexbox ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}
.min {
    min-width: 1100px;
}
.font-Cookie{
    font-family: 'Cookie', cursive;
}
.border-radius-10{
    border-radius: 10px;
}
/* HEADER */
.header {
    padding: 40px 0;
    background: url("./images/header-wrapper-bg.png") repeat-x;  
}

.site-name{
    width: 221px;
    background: url("./images/logo-bg.png") no-repeat;
    display: inline-block;
}
.site-name a{
    display: block;
  text-align: center;  
  font-size: 60px;
  padding: 20px 15px;
}

.menu {
    width: 600px;
    padding-right: 80px;
}
.menu a{
    display: block;
    font-size: 20px;
    padding: 10px 15px;
}
.header a:link, .header a:visited{
    color: white;
    text-decoration: none;
}
.menu a.active {
   background-color: #B80000;
   box-shadow: 0 0 10px #F3EDC8;
}
/* BANNER */

.banner {
    background: url("./images/banner-wrapper-bg.png") repeat;
    padding: 30px 0;
}
.border-banner {
    background: url("./images/banner-border-bg.png") no-repeat;
    background-size: 1100px 250px;
}
.img-banner { 
    background:url("./images/banner-image.jpg") no-repeat top;
    background-size: 1100px;
    height: 300px;
}
.img-banner>div{
    background: url("./images/footer-bg.png") repeat-x bottom;
    background-position: 0 240px;
    border-radius: 0 0 10px 10px;
    
} 
.dimensiune{
width: 1100px;
height: 350px;
position: relative;
}
.dimensiune p{
    position: absolute;
    bottom: 30px;
    left: 130px;
    font-size: 40px;
}  

/* CONTENT */
.content {
    background: url("./images/page-wrapper-bg.png") repeat;
    padding: 35px 0;
}
.content p, .content ul, .footer p {
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 30px;
    
}
.content h2{
font-size: 20px;
font-weight: normal;
padding: 10px 20px;
}
.color-brown {
   color: #6B240C;
}
.color-white{
    color: white;
}
.bg-posted-left-content{
    background: url("./images/post-posted-bg.png") no-repeat;
    background-size: 400px 45px;
    margin-top: 30px;
}
.bg-posted-left-content a:link, .bg-posted-left-content a:visited{
    color: white;
}
.padding-30{
    padding: 30px;
}
.left-content {
    width: 650px;
    background-color: white;
    float: left;
}
.left-content img {
    width: 100%;
    background: url("./images/border-img-bg.png") no-repeat;
    background-size: 600px 267px;
    padding: 30px 0;
    border-radius: 10px;
}
.left-content h1{
    font-size: 30px;
    padding-top: 10px;
}
.coments {
    font-size: 18px;
    background: url("./images/posted-meta-bg.png") no-repeat;
    background-size: 600px 66px;
    margin-top: 20px;
    padding: 20px 30px;
}
.coments a:link, .coments a:visited{
    color: #6B240C;
}
.coments a:hover{
    text-decoration: none;
}
.coments-left{
    float: left;
}
.coments-right{
    float: right;
}

/* SIDEBAR */
.padding-20{
    padding: 20px;
}
.bg-sidebar-top {
    background: url("./images/sidebar-bg-01.png") no-repeat top left, url("./images/sidebar-bg-02.png") no-repeat bottom left;
    background-size: 380px 15px;
    height: 30px;
}
.bg-sidebar-center{
    background: url("./images/sidebar-bg-02.png") repeat-y left;
    background-size: 380px;  
}
.sidebar{
    float: right;
    width: 410px;
}
.sidebar h2 {
   letter-spacing: -2px; 
   background: url("./images/sidebar-title-bg.png") no-repeat;
   background-size: 410px 45px;
}
.sidebar .padding-20 {
    width: 330px;
}
.sidebar li{
    line-height: 40px;
    list-style: none;
    border-bottom: 1px solid #321E1E;
}
.sidebar li.last {
    border: 0px;
}
.sidebar a:link, .sidebar a:visited{
    color: white;
    text-decoration: none;
}
.bg-sidebar-bottom{
    background: url("./images/sidebar-bg-03.png") no-repeat bottom left;
    height: 15px;
    background-size: 380px;
}

/* WIDGET */
.footer {
    background: url("./images/footer-content-bg-02.png") repeat-x top, url("./images/footer-bg.png") repeat bottom;
    padding: 30px 0;
    height: 378px;
}
.grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
}
.bg-widget-top {
    background: url("./images/box-widget-bg-01.png") no-repeat;
    background-size: 340px;
    height: 15px;
}
.bg-widget-center {
    background: url("./images/box-widget-bg-02.png") repeat-y;
    background-size: 340px;
}
.bg-widget-bottom {
    background: url("./images/box-widget-bg-03.png") no-repeat;
    background-size: 340px;
    height: 15px;
}
.item {
    padding-bottom: 40px;
}
.item h1{
    font-size: 20px;
}
.item p{
    padding: 0 20px;
}
.footer-bottom{
    font-size: 15px;
    padding-top: 40px;
    text-align: center;
    color: #884A39;
}
.footer-bottom a:link, .footer-bottom a:visited{
    color: #884A39;
}
.footer-bottom a:hover{
    text-decoration: none;
}
.clearfix{
    clear: both;
}