body {
  background-color: #faf8ed;
}
body,
h1,
p,
ul {
  margin: 0px;
  padding: 0px;
}
wraper {
  width: 1000px;
  margin: 0px auto;
}
.meniu {
  background-color: #748e63;
  font-size: 20px;
}
.meniu a {
  padding: 10px;
  display: block;
}
.meniu a:link,
.meniu a:visited {
  color: white;
  text-decoration: none;
}
.meniu a:hover {
  background-color: white;
  color: #748e63;
  font-weight: bold;
}
.meniu ul {
  display: flex;
  flex-direction: row;
  list-style: none;
}
/***** BODY ******/
.content {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 20px;
  background-color: white;
}
.content p {
  text-align: justify;
}
.main h1 {
  font-size: 25px;
}
.main p {
  font-size: 20px;
}
.table th,
.table td {
  border: 1px solid black;
  text-align: center;
}
table {
  width: 100%;
}
.table th {
  background-color: #d0d4ca;
}
.content img {
  width: 100%;
}
.right h1 {
  font-size: 20px;
}
.right p {
  font-size: 15px;
}
/***** FOOTER *****/
.footer {
  background-color: #748e63;
  padding: 10px;
  text-align: center;
}
.footer a:link,
.footer a:visited {
  text-decoration: none;
  color: white;
}
