body {
  background-color: #faf8ed;
}
.body {
  width: 1000px;
  margin: 0px auto;
  background-color: white;
}
.nav-bar {
  background-color: #748e63;
  font-size: 20px;
}
.nav-bar a {
  color: white;
  padding: 10px;
  text-decoration: none;
  display: block;
}
.nav-bar a:hover {
  background-color: white;
  color: #748e63;
  font-weight: bold;
}
.nav-bar ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  margin: 0px;
  padding: 0px;
}

/***** BODY ******/
.body-0 {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 30px;
  padding: 5px;
}
p {
  text-align: justify;
}
h1 {
  font-size: 25px;
}
th,
td {
  border: 1px solid;
  text-align: center;
}
table {
  width: 100%;
}
th {
  background-color: #d0d4ca;
}
img {
  width: 100%;
}
/***** FOOTER *****/
.footer {
  background-color: #748e63;
  padding: 10px;
  text-align: center;
}
.footer a {
  text-decoration: none;
  color: white;
}
